@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "华文中宋", "微软雅黑", "楷体", "宋体", "Arial", "Helvetica",
    "sans-serif" !important;
}

/* 基础滚动条样式 */
::-webkit-scrollbar {
  width: 10px; /* 滚动条宽度 */
  height: 10px; /* 滚动条高度 */
}

/* 滚动条轨道样式 */
::-webkit-scrollbar-track {
  background: #e5e7eb;
  border-radius: 6px;
}

/* 滚动条滑块样式 */
::-webkit-scrollbar-thumb {
  background-color: #bcbcbc;
  border-radius: 6px;
  border: 2px solid transparent;
  background-clip: content-box;
}

/* 滑块在悬停状态下的样式 */
::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8;
}

/* 暗色模式的滚动条样式 */
html.dark ::-webkit-scrollbar-track {
  background: #1e293b;
}

html.dark ::-webkit-scrollbar-thumb {
  background-color: #334155;
  border: 2px solid transparent;
}

html.dark ::-webkit-scrollbar-thumb:hover {
  background-color: #475569;
}
